---
themes: ['light', 'dark']
styles: ['style/index.css']
---
{% if site.debug %}
	{% capture errors %}
		{% for product in site.products %}

			{% for option in product.options %}

				{% if option.photo != nil and option.photos != nil %}
<li>{{ product.relative_path }}, {{ option.size }}: Cannot specify photo: and photos:.</li>
				{% endif %}

				{% if option.photo %}
					{% unless page.themes contains option.theme %}
<li>{{ product.relative_path }}, {{ option.size }}: Options with photos must have theme: light or dark.</li>
					{% endunless %}
				{% endif %}
				{% if option.light_photos or option.dark_photos %}
					{% if option.theme or option.photo %}
<li>{{ product.relative_path }}, {{ option.size }}: Options with <i>theme</i>_photos collections must not specify photo: or theme:.</li>
					{% endif %}
				{% endif %}
			{% endfor %}


			{% assign expected = product.options | where_exp: 'p', 'p.is_duplicate == nil' | map: 'price' %}
			{% assign unique = expected | uniq %}
			{% assign sorted = expected | sort %}

			{% if expected != sorted %}
<li>{{ product.relative_path }}: Options must be sorted by price.</li>
			{% endif %}

			{% if expected != unique %}
<li>{{ product.relative_path }}: You have duplicate prices.  If this is by design, please add <code>is_duplicate: true</code>.</li>
			{% endif %}

		{% endfor %}
	{% endcapture %}

	{% if errors contains 'li' %}
<link rel="stylesheet" href="style/validate.css" />
<ul class="Errors">{{ errors }}</ul>
	{% endif %}
{% endif %}

<div class="Container">
	{% for theme in page.themes %}
	<div class="{{ theme | capitalize }}">
		<div class="ProductColumns">
			{% for product in site.products %}
			{%- for option in product.options -%}
			{%- assign index = forloop.index -%}

			{%- if option.photo and option.theme == theme -%}
			{%- assign photos = option.photo -%}
			{%- else -%}
			{%- assign photos_property = theme | append: '_photos' -%}
			{%- assign photos = option[photos_property] -%}
			{%- endif -%}

			{% for photo in photos %}
			<a class="ProductThumbnail" href="/products/{{ product.title | slugify }}.html#{{ option.size | slugify }}-{{ index }}">
				<img src="{{ photo | replace: 'products/', 'products/thumbnails/' | replace: '.jpg', '.270.jpg' }}"
					 title="{{ product.name | xml_escape }}, {{ option.size | xml_escape }}">
			</a>
			{%- endfor -%}
			{%- endfor -%}
			{%- endfor -%}
		</div>
	</div>
	{% endfor %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>
	var grids = $('.ProductColumns').masonry({
		itemSelector: '.ProductThumbnail',
		percentPosition: true,
	});
	grids.imagesLoaded().progress(function () {
		grids.masonry('layout');
	});
</script>
