$imageWidth: 120px;
$imageSpacing: 16px;
.ProductColumns {
    width: 2 * ($imageWidth + $imageSpacing);
}

.ProductThumbnail {
    width: $imageWidth;
    float: left;
    img {}
}

.Light {
    .ProductThumbnail {
        margin-left: $imageSpacing;
    }
}

.Dark {
    .ProductThumbnail {
        margin-right: $imageSpacing;
    }
}