@import "variables";

.ProductColumns {
	display: inline-block;

	.ProductThumbnail {
		img {
			display: block;
		}
	}
}


@mixin layout($imageWidth, $imageSpacing, $columnCount) {
	.ProductColumns {
		// Set width to contain N columns including spacing before the first column.
		width: calc(#{$columnCount} * (#{$imageWidth} + #{$imageSpacing}));
		margin-left: -$imageSpacing; // Cancel out the margin from the first column.
		.ProductThumbnail {
			margin-left: $imageSpacing;
			margin-top: $imageSpacing;
			width: $imageWidth;
		}
	}
}

@import "sizing";
