@import "variables";

#logo {
	position: relative;
}

html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;

	> * {
		flex-shrink: 0;
	}
	// Stretch the footer to the bottom of the
	// page, & align its content to the bottom
	footer.Container {
		flex-grow: 1;

		> * {
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
		}

		@media (max-width: $collapsedWidth) {
			// Hide the empty light stripe and let the
			// footer blend in with the last Dark row.
			.Light {
				display: none;
			}
			// When the container is a column, stretch its content.
			.Dark {
				flex-grow: 1;
			}
		}
	}
}

.CenteredRow {
	display: flex;
	align-items: center;
}

.Spacer {
	flex: 1 0 16px;
}

.Container {
	display: flex;
	align-items: stretch;
	// Hide artifacts from Markdown
	> p:empty {
		display: none;
	}

	.Light,
	.Dark {
		width: 50%;
		padding: $largeThumbnailSpacing;
		box-sizing: border-box;
	}

	.Light {
		background: $lightColor;
		color: $darkColor;
		text-align: right;
	}

	.Dark {
		background: $darkColor;
		color: $lightColor;
		text-align: left;
	}
}

@mixin layout($imageWidth, $imageSpacing, $columnCount) {
	// Make the logo width match the columns below it, but only include spacing between columns.
	#logo {
		width: calc(#{$columnCount} * (#{$imageWidth} + #{$imageSpacing}) - #{$imageSpacing});
	}
	// Make the padding around the center match the home photo spacing.
	.Container .Light {
		padding-right: $imageSpacing;
	}

	.Container .Dark {
		padding-left: $imageSpacing;
	}
}

@import "sizing";

header.Container {
	// This scales all content via em.
	@media (max-width: 900px) {
		font-size: 14px;
	}

	@media (max-width: 640px) {
		font-size: 12px;
	}

	.Dark, .Light {
		padding-top: 40px;
	}
}
// This overrides both the static & sized properties above.
@media (max-width: $collapsedWidth) {
	.Container {
		flex-direction: column;

		.Light,
		.Dark {
			width: auto;
			padding: $smallThumbnailSpacing;
			text-align: center;
		}
	}

	// Only the actual top of the header should have extra padding.
	header.Container .Dark {
		padding-top: $smallThumbnailSpacing;
	}
}


.Navigation {
	list-style: none;
	padding: 0;
	margin: 0 0 16px;
	display: flex;
	font-family: $headerFont;

	@media (max-width: $collapsedWidth) {
		justify-content: center;
	}

	li {
		flex-shrink: 0;

		@media (min-width: $collapsedWidth + 1) {
			&:first-child {
				margin-left: -16px;
			}
		}

		+ li {
			border-left: solid 1px $lightColor;
		}

		a {
			font-size: 1.2em;
			display: block;
			text-transform: uppercase;
			letter-spacing: 4px;
			text-decoration: none;
			padding: 8px 16px;


			&:hover {
				background-color: rgba(255, 255, 255, 0.25);
			}

			&.Active {
				font-weight: bold;
			}
		}
	}
}

header h1 {
	margin: 0;
}
