body {
    font-family: 'Source Sans Pro', Arimo, sans-serif;
    line-height: 1.2;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-weight: 200;
    margin-bottom: 16px;
}

p {
    margin-bottom: 16px;
}

a,
a:visited {
    color: inherit;
}

img {
    max-width: 100%;
    margin: 0 auto;
}