---
layout: base
styles:
  - /style/product.css
  - /packages/slick.css
  - /packages/slick-theme.css
---
<div class="Container">
	<div class="Light PhotosContainer">
		{% unless page.options.size > 1 or page.options[0].photos %}
		<!-- No slider. -->
		<a class="SingleImage" href="{{ page.options[0].photo }}">
			<img src="{{ page.options[0].photo }}" />
		</a>
		{% else %}
		<div class="LargeSlider">
			{% for option in page.options %}
			{% assign photos = option.photos | default: option.photo %}
			{% for photo in photos %}
			<div>
				<a href="{{ photo }}"><img src="{{ photo }}" /></a>
			</div>
			{% endfor %}
			{% endfor %}
		</div>
		<div class="NavSlider">
			{% for option in page.options %}
			{% assign photos = option.photos | default: option.photo %}
			{% for photo in photos %}
			<img src="{{ photo }}" />
			{% endfor %}
			{% endfor %}
		</div>
		{% endunless %}
	</div>
	<div class="Dark">

		<h3>
			{{ page.name | xml_escape }}
			{% if page.options.size == 1 %}
			<span class="Price">${{ page.options[0].price | round: 1}}0</span>
			{% else %}
			<span class="Price">
				${{ page.options.first.price | round: 1}}0
				&ndash;
				${{ page.options.last.price | round: 1}}0
			</span>
			{% endif %}
		</h3>
		<p>{{ content }}</p>
		{% if page.options.size == 1 %}
		<p class="Size">Size: {{ page.options[0].size }}</p>
		{% else %}
		<p class="Size">Available in:</p>
		<ul>
			{% for option in page.options %}
			<li>{{ option.size }}: ${{ option.price | round: 1}}0</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/packages/slick.min.js"></script>
<script>
	$('.LargeSlider').slick({
		arrows: false,
		autoplay: true,
		adaptiveHeight: false,
		slidesToShow: 1,
	});
	$('.NavSlider').slick({
		arrows: false,
		asNavFor: '.LargeSlider',
		variableWidth: true,
		focusOnSelect: true,
	});
</script>