---
layout: base
styles:
  - /style/product.css
  - /packages/slick.css
  - /packages/slick-theme.css
---
<div class="Container">
	<div class="Light PhotosContainer">
		{% unless page.options.size > 1 or page.options[0].photos %}
		<!-- No slider. -->
		<a class="SingleImage" href="{{ page.options[0].photo }}">
			<img src="{{ page.options[0].photo }}" />
		</a>
		{% else %}
		<div class="LargeSlider">
			{% for option in page.options %}
			{% assign photos = option.photos | default: option.photo %}
			{% for photo in photos %}
			<!-- Force the <a> to shrink to its content. -->
			<div>
				<a href="{{ photo }}"><img src="{{ photo }}" /></a>
			</div>
			{% endfor %}
			{% endfor %}
		</div>
		<div class="NavSlider">
			{% for option in page.options %}
			{% assign photos = option.photos | default: option.photo %}
			{% for photo in photos %}
			<img src="{{ photo }}" />
			{% endfor %}
			{% endfor %}
		</div>
		{% endunless %}
	</div>
	<div class="Dark">

		<h1>{{ page.name | xml_escape }}</h1>
		<div class="PriceSlider">
			{% for option in page.options %}
			{% assign photos = option.photos | default: option.photo %}
			{% for photo in photos %}
			<!-- Prevent Slick from overriding display: flex. -->
			<div>
				<h3 class="CenteredRow PriceLine">
					<i class="fas fa-ruler"></i>
					<span>&nbsp; {{ option.size }}</span>
					<span class="Spacer"></span>
					<i class="fas fa-tag"></i>
					<span>&nbsp; ${{ option.price | round: 1}}0</span>
				</h3>
			</div>
			{% endfor %}
			{% endfor %}
		</div>
		{% if page.options.size > 1 %}
		<p class="Size">Available in:</p>
		<ul>
			{% for option in page.options %}
			<li>{{ option.size }}: ${{ option.price | round: 1}}0</li>
			{% endfor %}
		</ul>
		{% endif %}
		<p>{{ content }}</p>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/packages/slick.min.js"></script>
<div class="PhotoSizes" data-sizes='[
{%- for option in page.options -%}
	{%- assign photos = option.photos | default: option.photo -%}
	{%- for photo in photos -%}
		 "{{ option.size }}",
	{%- endfor -%}
{%- endfor -%}
	 ]'></div>
<script>
	var optionSizes = JSON.parse($('.PhotoSizes').data('sizes').replace(/,]$/, ']'));
	function goToOption(size) {
		var index = optionSizes.indexOf(size);
		if (index >= 0)
			$('.LargeSlider').slick('slickGoTo', index);
	}

	var initialSlide = 0
	if (/^#?\d\w+$/.test(location.hash))
		initialSlide = optionSizes.indexOf(location.hash.replace('#', ''));

	$('.LargeSlider').slick({
		arrows: false,
		adaptiveHeight: false,
		initialSlide: initialSlide,
		asNavFor: '.NavSlider, .PriceSlider',
	});

	$('.PriceSlider').slick({
		adaptiveHeight: false,
		initialSlide: initialSlide,
		variableWidth: false,
		// Non-interactive:
		arrows: false,
		accessibility: false,
		draggable: false,
		swipe: false,
		touchMove: false,
	});
	$('.NavSlider').slick({
		arrows: false,
		initialSlide: initialSlide,
		asNavFor: '.LargeSlider',
		focusOnSelect: true,
		variableWidth: true,
		draggable: false,
		infinite: false,
		slidesToScroll: 10,
	});

</script>