---
layout: base
styles:
  - /style/product.css
  - /packages/slick.css
  - /packages/slick-theme.css
---
<div class="Container">
	<div class="Light PhotosContainer">
		{% if page.text %}
		<h1 dir="rtl">
			{{ page.text | xml_escape }}
			{%- if page.source -%}
			<span class="Source">
				&ndash;&nbsp;
				{%- if page.link -%}
				<a href="{{ page.link | xml_escape }}" target="_blank">
					{%- endif -%}
					{{ page.source | xml_escape }}
					{%- if page.link -%}
				</a>
				{%- endif -%}
			</span>
			{%- endif -%}
		</h1>
		{% endif %}

		{% unless page.options.size > 1 or page.options[0].photos %}
		<!-- No slider. -->
		<a class="SingleImage" href="{{ page.options[0].photo }}">
			<img src="{{ page.options[0].photo }}" />
		</a>
		{% else %}
		<div class="LargeSlider">
			{% for option in page.options %}
			{% assign photos = option.photos | default: option.photo %}
			{% for photo in photos %}
			<!-- Force the <a> to shrink to its content. -->
			<div>
				<a href="{{ photo }}"><img src="{{ photo }}" /></a>
			</div>
			{% endfor %}
			{% endfor %}
		</div>
		<div class="PhotoLinks">
			{% for option in page.options %}
			{% assign photos = option.photos | default: option.photo %}
			{% for photo in photos %}
			<img tabindex="0" src="{{ photo }}" />
			{% endfor %}
			{% endfor %}
		</div>
		{% endunless %}
	</div>
	<div class="Dark DescriptionSection">

		<h1>{{ page.name | xml_escape }}</h1>
		<div class="PriceSlider">
			{% for option in page.options %}
			{% assign photos = option.photos | default: option.photo %}
			{% for photo in photos %}
			<!-- Prevent Slick from overriding display: flex. -->
			<div>
				<h3 class="CenteredRow PriceLine">
					<i class="fas fa-ruler"></i>
					<span>&nbsp; {{ option.size }}</span>
					<span class="Spacer"></span>
					<i class="fas fa-tag"></i>
					<span>&nbsp; ${{ option.price | round: 1}}0</span>
				</h3>
			</div>
			{% endfor %}
			{% endfor %}
		</div>

		{{ content }}
		{% if page.options.size > 1 %}
		<p class="Size">Available in:</p>
		<ul class="OptionList">
			{% for option in page.options %}
			<li data-option-size="{{ option.size }}">
				{{ option.size }}: ${{ option.price | round: 1}}0
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/packages/slick.min.js"></script>
<div class="PhotoSizes" data-sizes='[
{%- for option in page.options -%}
	{%- assign photos = option.photos | default: option.photo -%}
	{%- for photo in photos -%}
		 "{{ option.size }}",
	{%- endfor -%}
{%- endfor -%}
	 ]'></div>
<script>
	var photoSizes = JSON.parse($('.PhotoSizes').data('sizes').replace(/,]$/, ']'));

	var initialSlide = 0
	if (/^#?\d\w+$/.test(location.hash))
		initialSlide = photoSizes.indexOf(location.hash.replace('#', ''));

	$('.LargeSlider').slick({
		arrows: false,
		adaptiveHeight: true,
		initialSlide: initialSlide,
		asNavFor: '.PriceSlider',
	});

	$('.PriceSlider').slick({
		adaptiveHeight: false,
		initialSlide: initialSlide,
		variableWidth: false,
		// Non-interactive:
		arrows: false,
		accessibility: false,
		draggable: false,
		swipe: false,
		touchMove: false,
	});

	// Control slider from other links:
	function goToOption(size) {
		var index = photoSizes.indexOf(size);
		if (index >= 0) $('.LargeSlider').slick('slickGoTo', index);
	}
	$('[data-option-size]').click(function () {
		goToOption(this.dataset.optionSize);
	});
	$('.PhotoLinks img').click(function () {
		$('.LargeSlider').slick('slickGoTo', $(this).index());
	}).keypress(function (e) {
		if (e.which == 13) $('.LargeSlider').slick('slickGoTo', $(this).index());
	});

	// Sync other lists to slider:
	function photoSelected(index) {
		$('.PhotoLinks img')
			.removeClass('Active')
			.eq(index).addClass('Active');

		// These bullets correspond to options, not photos, so the indexes are different.
		$('.OptionList li')
			.removeClass('Active')
			.filter('[data-option-size="' + photoSizes[index] + '"]')
			.addClass('Active');
	}
	photoSelected(initialSlide);
	$('.LargeSlider').on('beforeChange', function (e, slick, currentSlide, nextSlide) {
		photoSelected(nextSlide);
	});
</script>